
{% extends "base.html" %}
{% block head %}
Raum Liste
{% endblock %}
{% block content %}

	Verfügbare Räume
	
{% for object in object_list %}

<table class="table">

  <colgroup>
    <col style="background-color: #FFFFFF">
    <col span="2">
  </colgroup>
     <tbody>
 		<tr><td> <div class="m-2"><a href="{{object.get_absolute_url}}">{{object}}</a></div></td></tr>
     </tbody>
</table>

{% endfor %}
<div><a class="btn btn-primary" href="{% url 'room_Raum_create' %}">Neuen Raum anlegen</a></div>
{% endblock %}
