
{% extends 'base.html' %}

{% block head %}

<center><h1>Raumplanung Startseite</h1></center>

{% endblock %}

{% block content %}
<style>
    body {
       
    }
    div {
        height: 200px;
        margin: 20px;
        border: 2px solid;
        background-color: #FFA500;
    }
</style>


    <div class="Startseite">
       <a href="/">Home</a>
       <a href="/">Kalender</a>
       <a href="/app/app/webseiteraumbelegung/">Raumbelegung</a>
       <a href="/app/api/v1">Benutzer</a>
       <a href="/admin">Admin login</a>
    </div>



{% endblock %}




