
{% load static %}
<html>


<head>


{% block head %}

<h1>Hier den Titel eintragen</h1>
{% endblock %}








<center><img src="{% static '/images/jpg3.jpg' %}" width="1865" height="339"></center>
<link rel="stylesheet" href="{% static '/css/navi.css' %}">

</head>



<nav>
	<ul>
		<li><a href="/app/app/webseiteraumbelegung/">Webseiteraumbelegung</a></li>	
		<li><a href="/app/api/v1">Api</a></li>
		<li><a href="/admin/">Admin</a></li>
	</ul>
</nav>

<body>

{% block content %}



{% endblock %}
</body>